= form_tag search_players_path, class: 'pure-form search-form' do
  = text_field_tag :gamertag, nil, placeholder: 'Find a player', required: true
  = submit_tag 'Search', class: 'pure-button pure-button-primary'
