.center {
  text-align: center;
}

.error {
  color: $red;
}

.hide {
  display: none !important;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-x {
  margin-top: 20px;
}

.margin-bottom-x {
  margin-bottom: 20px;
}
