javascript:
  window.app = {
    init: function () {
      window.onpopstate = app.router.loadState;
      app.headerView = new app.HeaderView().render();
      app.router.loadState();
    },
    template: function (templatePath, data) {
      return HandlebarsTemplates[templatePath](data);
    }
  };
