* {
  margin: 0;
  padding: 0;
  color: $text_color;
  font-family: arial, sans-serif;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3, h4, h5, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

.error {
  color: $red;
}

.margin-top-x {
  margin-top: 20px;
}

.margin-bottom-x {
  margin-bottom: 20px;
}

.panel {
  padding: 15px;
  border: 1px solid $gray_extra_light;
  border-radius: 10px;
  @media screen and (max-width: 35.5em) {
    margin-bottom: 15px;
  }
}
