* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3, h4, h5, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin: 40px;
}

.panel {
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
