.main-stats {
  .pure-g {
    margin: 10px 0;
  }

  .number, .label {
    font-size: 1.5em;
    font-weight: bold;
  }

  .number {
    color: $blue_green;
    text-align: right;
  }

  .label {
    color: $gray_extra_light;
  }
}
