#profile-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;

  img {
    height: 75px;
    margin-right: 5px;
  }

  h1 {
    margin-right: auto;
  }

  .refresh-btn {
    border: 1px solid $gray_light;
    font-size: 90%;
  }
}

.main-stats {
  .number, .label {
    font-weight: bold;
  }

  .number {
    color: $blue_green;
    font-size: 2.5em;
  }

  .label {
    color: $gray_light;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

#profile-playlists {
  .playlist-rank {
    margin-top: 10px;
    display: flex;
    align-items: center;

    img {
      width: 60px;
      margin-right: 5px;
    }
  }
}

#profile-weapons {
  thead {
    background-color: $white;
  }

  th {
    font-weight: normal;
  }

  img {
    height: 50px;
  }

  .weapon-name {
    font-size: 80%;
  }
}
