.main-stats {
  .number, .label {
    font-weight: bold;
  }

  .number {
    color: $blue_green;
    font-size: 2.5em;
  }

  .label {
    color: $gray_extra_light;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}
